<!doctype html>
<html lang="ru">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>ГКП на ПХВ "Енбекшиказахская многопрофильная центральная районная больница"</title>
        <meta name="robots" content="noindex, nofollow">
        <meta content="" name="description">
        <meta content="" name="keywords">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="format-detection" content="telephone=no">
        <!-- This make sence for mobile browsers. It means, that content has been optimized for mobile browsers -->
        <meta name="HandheldFriendly" content="true">

        <!-- Favicons -->
        <link rel="icon" type="image/png" href="/favicon.png">

        <!-- Meta -->
        <meta property="og:locale" content="ru_RU" />
        <meta property="og:type" content="website" />
        <meta property="og:title" content="" />
        <meta property="og:description" content="" />
        <meta property="og:url" content="" />
        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:title" content="" />
        <meta name="twitter:description" content="" />

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">

        <!-- Stylesheet -->
        <link href="/css/main.min.css" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/air-datepicker@3.5.1/air-datepicker.min.css" rel="stylesheet">
    </head>

    <body>

        <!-- Register Begin -->
        <div class="register">

            <!-- Register Content Begin -->
            <div class="register__content">

                <!-- Header Begin -->
                <header class="register__top">
                    <a href="#" class="register__logo">
                        <img src="/img/general/logo.svg" width="120" height="120" title="ГКП на ПХВ 'ЕМЦРБ'" alt="ГКП на ПХВ 'ЕМЦРБ'">
                    </a>
                </header>
                <!--/. Header End -->

                <!-- Register Main Begin -->
                <main role="main" class="register__main">

                    <form class="register__form" action="/login" method="POST">
                        <div class="register__header">
                            <h1 class="register__headline">С возвращением!</h1>
                            <p><b><font color="red"><%= message %></font></b></p>
                            <p class="register__text">Войдите в ваш аккаунт, чтобы начать работу</p>
                        </div>
                        <div class="formLayout">
                            <div class="formLayout__item">
                                <div class="label">
                                    <label id="userNameLabel" for="email" class="label__text">Email</label>
                                </div>
                                <div class="textField">
                                    <input id="email" name="email" autocomplete="off" class="textField__input" type="text" aria-labelledby="userNameLabel" aria-invalid="false">
                                    <div class="textField__backdrop"></div>
                                </div>
                            </div>
                            <div class="formLayout__item">
                                <div class="label">
                                    <label id="userPasswordLabel" for="password" class="label__text">Пароль</label>
                                </div>
                                <div class="textField">
                                    <input id="password" name="password" autocomplete="off" class="textField__input" type="text" aria-labelledby="userPasswordLabel" aria-invalid="false">
                                    <div class="textField__backdrop"></div>
                                </div>
                            </div>
                        </div>

                        <div class="register__agreement">
                            <label class="choice" for="agreementCheckbox">
                                <span class="choice__control">
                            <span class="checkbox">
                                <input id="agreementCheckbox" type="checkbox" class="checkbox__input" aria-invalid="false" role="checkbox" aria-checked="false">
                                <span class="checkbox__backdrop"></span>
                                <span class="checkbox__icon">
                                    <span class="icon">
                                        <svg viewBox="0 0 20 20" class="icon__svg" focusable="false" aria-hidden="true"><path d="m8.315 13.859-3.182-3.417a.506.506 0 0 1 0-.684l.643-.683a.437.437 0 0 1 .642 0l2.22 2.393 4.942-5.327a.436.436 0 0 1 .643 0l.643.684a.504.504 0 0 1 0 .683l-5.91 6.35a.437.437 0 0 1-.642 0"></path></svg>
                                    </span>
                                </span>
                                </span>
                                </span>
                                <span class="choice__label">Запомнить меня</span>
                            </label>
                            <a href="#" class="register__forgotLink">Забыли пароль?</a>
                        </div>
                        <button type="submit" class="button button--interactive register__button">Войти</button>
                        <div class="register__bottomText">У вас нет аккаунта? <a href="/register">Зарегистрироваться</a>
                        </div>
                    </form>
                </main>
                <!--/. Register Main End -->

                <footer class="register__footer">
                    <div class="register__copyright">©2023. ГКП на ПХВ "ЕМЦРБ". Все права защищены</div>
                </footer>

            </div>
            <!--/. Register Content End -->

            <img src="/img/general/login-decor.svg" class="register__decor" alt="">

        </div>
        <!--/. Register End -->

        <!-- CONTENT ENDS HERE -->

        <!-- Main scripts. You can replace it, but I recommend you to leave it here -->
        <script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
        <script type="module" src="/js/main.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/air-datepicker@3.5.1/air-datepicker.min.js"></script>
        <script src="/js/separate-js/scripts.js"></script>

        <!-- Mobile Menu Begin -->
        <div class="mobile-menu">
            <div class="mobile-menu__wrapper">


            </div>
            <div class="mobile-menu__backdrop"></div>
        </div>
        <!--/. Mobile Menu End -->

    </body>

</html>
