<!doctype html>
<html lang="ru">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>ГКП на ПХВ "Енбекшиказахская многопрофильная центральная районная больница"</title>
        <meta name="robots" content="noindex, nofollow">
        <meta content="" name="description">
        <meta content="" name="keywords">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="format-detection" content="telephone=no">
        <!-- This make sence for mobile browsers. It means, that content has been optimized for mobile browsers -->
        <meta name="HandheldFriendly" content="true">

        <!-- Favicons -->
        <link rel="icon" type="image/png" href="/favicon.png">

        <!-- Meta -->
        <meta property="og:locale" content="ru_RU" />
        <meta property="og:type" content="website" />
        <meta property="og:title" content="" />
        <meta property="og:description" content="" />
        <meta property="og:url" content="" />
        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:title" content="" />
        <meta name="twitter:description" content="" />

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">

        <!-- Stylesheet -->
        <link href="/css/main.min.css" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/air-datepicker@3.5.1/air-datepicker.min.css" rel="stylesheet">
    </head>

    <body>

        <!-- Register Begin -->
        <div class="register">

            <!-- Register Content Begin -->
            <div class="register__content">

                <!-- Header Begin -->
                <header class="register__top">
                    <a href="#" class="register__logo">
                        <img src="/img/general/logo.svg" width="213" height="40" type="Next Partner" alt="Next Partner">
                    </a>
                </header>
                <!--/. Header End -->

                <!-- Register Main Begin -->
                <main role="main" class="register__main">

                    <form class="register__form" action="/register" method="POST">
                        <div class="register__header">
                            <h1 class="register__headline">Регистрация</h1>
                        </div>
                        <div class="formLayout">
                            <div class="formLayout__item">
                                <div class="label">
                                    <label id="emailLabel" for="email" class="label__text">Email</label>
                                </div>
                                <div class="textField">
                                    <input id="email" name="email" autocomplete="off" class="textField__input" type="text" aria-labelledby="emailLabel" aria-invalid="false">
                                    <div class="textField__backdrop"></div>
                                </div>
                                <div class="help-text">Какая-то текст подсказка</div>
                            </div>
                            <div class="formLayout__item">
                                <div class="label">
                                    <label id="nameLabel" for="firstName" class="label__text">Имя</label>
                                </div>
                                <div class="textField">
                                    <input id="firstName" name="firstName" autocomplete="off" class="textField__input" type="text" aria-labelledby="nameLabel" aria-invalid="false">
                                    <div class="textField__backdrop"></div>
                                </div>
                            </div>
                            <div class="formLayout__item">
                                <div class="label">
                                    <label id="lastNameLabel" for="lastName" class="label__text">Фамилия</label>
                                </div>
                                <div class="textField">
                                    <input id="lastName" name="lastName" autocomplete="off" class="textField__input" type="text" aria-labelledby="lastNameLabel" aria-invalid="false">
                                    <div class="textField__backdrop"></div>
                                </div>
                            </div>
                            <div class="formLayout__item">
                                <div class="label">
                                    <label id="passwordLabel" for="password" class="label__text">Пароль</label>
                                </div>
                                <div class="textField textField--error">
                                    <input id="password" name="password" autocomplete="off" class="textField__input" type="text" aria-labelledby="passwordLabel" aria-invalid="false">
                                    <div class="textField__backdrop"></div>
                                </div>
                                <!--<p class="inline-error">Текст ошибки</p>-->
                            </div>
                            <div class="formLayout__item">
                                <div class="label">
                                    <label id="passwordConfirmLabel" for="passwordConfirm" class="label__text">Подтвердите пароль</label>
                                </div>
                                <div class="textField">
                                    <input id="passwordConfirm" autocomplete="off" class="textField__input" type="text" aria-labelledby="passwordConfirmLabel" aria-invalid="false">
                                    <div class="textField__backdrop"></div>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="button button--interactive register__button">Зарегистрироваться</button>
                    </form>
                </main>
                <!--/. Register Main End -->

                <footer class="register__footer">
                    <div class="register__copyright">©2023. ГКП на ПХВ "ЕМЦРБ". Все права защищены</div>
                </footer>

            </div>
            <!--/. Register Content End -->

            <img src="/img/general/login-decor.svg" class="register__decor" alt="">

        </div>
        <!--/. Register End -->

        <!-- CONTENT ENDS HERE -->

        <!-- Main scripts. You can replace it, but I recommend you to leave it here -->
        <script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
        <script type="module" src="/js/main.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/air-datepicker@3.5.1/air-datepicker.min.js"></script>
        <script src="/js/separate-js/scripts.js"></script>

        <!-- Mobile Menu Begin -->
        <div class="mobile-menu">
            <div class="mobile-menu__wrapper">


            </div>
            <div class="mobile-menu__backdrop"></div>
        </div>
        <!--/. Mobile Menu End -->

    </body>

</html>
